.slot {
	width: 64px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
}

.slot.inventory {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	width: 32px;
	height: 32px;
}

.slot.armor {
	width: 96px;
	height: 96px;
}

img.item {
	width: 64px;
	height: 64px;
	position: absolute;
}

img.item.in-inventory {
	width: 32px;
	height: 32px;
}

img.item.in-slot {
	width: 64px;
	height: 64px;
}

img.item.armor.in-slot {
	width: 92px;
	height: 92px;
}
